@import "src/app/shared/material/theme.scss";

.task-item {
    width: 320px;
    height: 450px;

    h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.1em;

        background-color: $primary-color;
        color: white;
        text-align: center;

        mat-icon {
            cursor: pointer;
        }
    }

    textarea {
        resize: none;
        height: 110px;
    }
}

.task-item-simpler {
    width: 320px;
    margin-bottom: 8px !important;

    h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.1em;

        background-color: $primary-color;
        color: white;
        text-align: center;

        mat-icon {
            cursor: pointer;
        }
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.1em;

        p{
            height: 100%;
            width: 100%;
            display: flex;
            margin: 0;
            align-content: center;
            padding: 8px;
        }
    }

    textarea {
        resize: none;
        height: 110px;
    }
}

.button-container {
    div > button {
        margin: 0.1em;
    }
}

.user-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px !important;
    height: 35px !important;
    color: white;
    font-size: 16pt;
    background-color: #ff9800;
    border-radius: 18px;
}