@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-orange, 500);
$accent:  mat-palette($mat-brown, 800);
$warn:    mat-palette($mat-red, 800);

$app-theme: mat-light-theme($primary, $accent, $warn);

$primary-color: mat-color($primary);
$accent-color: mat-color($accent);
$warn-color: mat-color($warn);

@include angular-material-theme($app-theme);