<h1 mat-dialog-title>Criar tarefa</h1>
<div [formGroup]="form">
    <mat-form-field class="maximize" appearance="outline">
        <mat-label>Tipo *</mat-label>
        <mat-select formControlName="type">
            <mat-option *ngFor="let taskTypeOption of typeOptions" [value]="taskTypeOption">
                {{ taskTypeOption }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('type')?.hasError('required')">O campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field class="maximize" appearance="outline">
        <mat-label>Título *</mat-label>
        <input matInput formControlName="title" maxlength="20">
        <mat-error *ngIf="form.get('title')?.hasError('required')">O campo é obrigatório</mat-error>
    </mat-form-field>
    <app-autocomplete-users *ngIf="userOptions$ | async as users" formControlName="userId" 
        [valueProperty]="'id'" [users]="users">
        <span slot="mat-label">Usuário</span>
    </app-autocomplete-users>
    <mat-form-field class="maximize" appearance="outline">
        <mat-label>Descrição *</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="form.get('description')?.hasError('required')">O campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field class="maximize" appearance="outline">
        <mat-label>Pontos da história</mat-label>
        <input matInput formControlName="storyPoints"/>
    </mat-form-field>
    <mat-form-field class="maximize" appearance="outline">
        <mat-label>Tempo estimado (min)</mat-label>
        <input matInput formControlName="minutesEstimated"/>
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary" class="font-white"
            (click)="onSave()" [disabled]="form.invalid">Salvar</button>
        <button mat-button mat-dialog-close>Cancelar</button>
    </div>
</div>
