<h1 mat-dialog-title>Criar tarefa</h1>
<div mat-dialog-content [formGroup]="form">
    <mat-form-field class="maximize" appearance="outline">
        <mat-label>Título *</mat-label>
        <input matInput formControlName="title" maxlength="20">
        <mat-error *ngIf="form.get('title')?.hasError('required')">O campo é obrigatório</mat-error>
    </mat-form-field>
    <app-autocomplete-users *ngIf="userOptions$ | async as users" [users]="users" formControlName="user">
        <span slot="mat-label">Usuário</span>
    </app-autocomplete-users>
    <mat-form-field class="maximize" appearance="outline">
        <mat-label>Descrição *</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="form.get('description')?.hasError('required')">O campo é obrigatório</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" class="font-white"
        (click)="onSave()" [disabled]="form.invalid">Salvar</button>
    <button mat-button mat-dialog-close>Cancelar</button>
</div>
